<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>新增/编辑</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../assets/css/common.css">
  <link rel="stylesheet" href="../assets/css/update.css">
</head>

<body>
  <div class="container">
    <div class="blog-detail">
      <label class="blog-detail__label">
        <span class="blog-detail__label-text">文章标题：</span>
        <input type="text" class="blog-detail__name-input">
      </label>
      <label class="blog-detail__label">
        <span class="blog-detail__label-text">文章内容：</span>
        <textarea class="blog-detail__content-input js-content-input"></textarea>
      </label>


      <button class="blog-detail__save-btn js-save-btn">保  存</button>
    </div>

    <pre id="pre">
      
    </pre>

    <div id="markdown-preview">
      
    </div>
  </div>
  <script src="../assets/vendor/jquery.min.js"></script>
  <script src="../assets/js/update.js"></script>

</body>

</html>
