* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
}

a {
  text-decoration: none;
}

input[type=text] {
  height: 26px;
  padding: 0 5px;
}

input[type=text],textarea{
  border: 1px solid #ddd;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

@media (max-width:1000px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
